* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.auth-body {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e35869;
    font-family: 'Lato', sans-serif;
}

.auth-form {
    background: #f5f5fa;
    width: 85vw;
    margin: 5vh auto;
    padding-top: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.auth-form h1 {
    padding: 35px 0px 5px 28px;
    font-weight: 300;
    font-size: 33px;
    color: #141010;
}

.auth-form .error {
    text-align: center;
    font-weight: 600;
    width: 80%;
    margin: 15px 20px 0 35px;
    padding: 10px 5px;
    color: rgb(255, 57, 57);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(255, 57, 57);
}

.auth-form .auth-form-content {
    padding: 10px 25px 20px 25px;
    text-align: left;
}

.auth-form .auth-label {
    font-weight: 600;
    font-size: 18px;
    color: #141010;
}

.auth-form .auth-description {
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
    color: #747474;
}

.auth-form .input-field {
    padding: 12px 5px;
}

.auth-form .input-field input {
    font-size: 20px;
    display: block;
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 48px;
    padding: 10px 1px;
    margin-top: 5px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.auth-form .input-field input:focus {
    border-color: #222;
}

.auth-form .auth-buttons {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.auth-form .auth-buttons a {
    width: 100%;
}

.auth-form .auth-buttons button {
    width: 100%;
    height: 82px;
    border: none;
    margin-top: 10px;
    padding: 23px 18px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    background: #d8d9dd;
    color: #148CB8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.auth-form .auth-buttons button:hover {
    background: #d8d8d8;
}

.auth-form .auth-buttons button:nth-child(2) {
    background: #41c3f2;
    color: #f5f5fa;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
}

.auth-form .auth-buttons button:nth-child(2):hover {
    background: #1eb5eb;
}