.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    float: left;
    justify-content: space-evenly;
}

.navbar button {
    color: rgb(249, 130, 130);  
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar button:focus {
    color: #f34747;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.navbar .icon {
    margin-top: 5px;
}

.navbar p {
    margin-top: 0px;
}