.shoppingListHeader {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(45deg, #fd4747, #ff6767);
    color: white;
    text-align: center;
}
.search{
    border: none;
    background: transparent;
    width: 300px;
    padding: 10px;
    font-size: 14px;
    color: inherit;
    border: 0;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
  
.search::placeholder {
    color: #bbb;
}

.search:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
.shoppingListHeader h1 {
    margin: 20px auto;
    font-size: 35px;
}

.shoppingListEdit button {
    cursor: pointer;
    background-color: #fd4747;
    color: white;
    position: fixed;
    bottom: 110px;
    height: 60px;
    right: 30px;
    padding: 30px;
    font-size: 20px;
}

.shoppingListEdit .editIcon {
    margin-right: 10px;
}

.shoppingListContent {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
