.cuponscontainer{
    width: 90vw;
    height: 100px;
    display: flex;

    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 3.5rem;   
}

.cuponDate{
    font-size: 17px;
    margin-right: 20px;
}
.cuponscontainer h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.cuponscontainer p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    word-break: break-word;
}
.cuponName {
    flex: 2;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}
.cuponButton{
    font-size: 17px;
    height:100px;
    background-color: transparent;
    border: none;
}

.cuponsFooter {
    height: 15px;
}